body {
background-color: #cbd5e0;
color: #2d3748;
margin: 0;
}
#navbar{
background:#2d3748;
color:#ffffff;
padding:15px;

display:flex;
justify-content:space-between;
align-items:center;

}
.menu{
    display:flex;
}
li{
    margin-right: 10px;
    list-style: none;
}
.banner{
    background:#ffffff;
}
#ourservices{
    background:#2d3748;
}
.content{
    background:#ffffff;
}
#footer{
    background:#2d3748;
}
